@charset "utf-8";
/* CSS Document */

#Control{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -151px;
	margin-right: 0;
	margin-left: -150px;
	width: 300px;
	height: 300px;
	padding-top: 0px;
}  
#Control .input_{   
    width: 50px;   
    height: 50px;   
    margin-bottom: 10px;   
    outline: none;   
    padding: 10px;   
    font-size: 13px;   
    color: #fff;   
	
    border-top: 1px solid #312E3D;   
    border-left: 1px solid #312E3D;   
    border-right: 1px solid #312E3D;   
    border-bottom: 1px solid #56536A;  
    border-radius: 4px;   
    background-color: #4a77d4;   
	
    text-shadow: 0 1px 1px rgba(0,0,0,.3); 	
	border-radius: .5em; 
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
} 
.Heater{   
    color: #fff;   
    text-shadow:0 0 10px;   
    letter-spacing: 1px;   
    text-align: center;   
	font-size: 2em;   
    margin: 0.67em 0; 
}   
#Control .input_2{   
    width: 50px;   
    height: 50px;   
    margin-bottom: 10px;   
    outline: none;   
    padding: 10px;   
    font-size: 13px;   
    color: #fff;   
	
    border-top: 1px solid #312E3D;   
    border-left: 1px solid #312E3D;   
    border-right: 1px solid #312E3D;   
    border-bottom: 1px solid #56536A;  
    border-radius: 4px;   
    background-color: #414F84;   
	text-shadow: 0 1px 1px rgba(0,0,0,.3); 	
	border-radius: .5em; 
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
} 
#Control .start_{   
    width: 70px;   
    height:70px; 
    border-radius: 35px;
    margin-bottom: 10px;   
    outline: none;   
    padding: 10px;   
    font-size: 13px;   
    color: #3B3838;     
    border-top: 1px solid #312E3D;   
    border-left: 1px solid #312E3D;   
    border-right: 1px solid #312E3D;   
    border-bottom: 1px solid #56536A;    
    background-color: #D4D7E5;   
	
	text-shadow: 0 1px 1px rgba(0,0,0,.3); 	
	
} 
#Control .start_2{   
    width: 70px;   
    height:70px; 
    border-radius: 35px;
    margin-bottom: 10px;   
    outline: none;   
    padding: 10px;   
    font-size: 13px;   
    color: #3B3838;   
    text-shadow:1px 1px 1px;   
    border-top: 1px solid #312E3D;   
    border-left: 1px solid #312E3D;   
    border-right: 1px solid #312E3D;   
    border-bottom: 1px solid #56536A;    
    background-color: #B4B3B3;   
} 
#Control .info_send{   
    width: 40px;   
    height:40px; 
    border-radius: 20px;
    margin-bottom: 10px;   
    outline: none;   
    padding: 10px;   
    font-size: 13px;   
    color: #E02528;   
    text-shadow:1px 1px 1px;   
    border-top: 1px solid #312E3D;   
    border-left: 1px solid #312E3D;   
    border-right: 1px solid #312E3D;   
    border-bottom: 1px solid #56536A;    
    background-color: #E90509;  
	
} 

.temparature_show
{
	 text-shadow:1px 1px 1px;   
    border-top: 1px solid #312E3D;   
    border-left: 1px solid #312E3D;   
    border-right: 1px solid #312E3D;   
    border-bottom: 1px solid #56536A;  
    border-radius: 4px;   
    background-color:#2D2D3F;   
}
h1{   
    color: #fff;   
    text-shadow:0 0 10px;   
    letter-spacing: 1px;   
    text-align: center;   
	font-size: 2em;   
    margin: 0.67em 0; 
}    
.plus{   
    width: 50px;   
    min-height: 50px;   
    display: block;   
    background-color: #4a77d4;   
    border: 1px solid #3762bc;   
    color: #fff;   
    padding: 9px 14px;   
    font-size: 15px;   
    line-height: normal;   
    border-radius: 5px;   
    margin: 0;   
}  
